## Observations and Insights

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
pharma_data_complete_df = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])

# Display the data table for preview
#pharma_data_complete_df.head()
pharma_data_complete_df.columns

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'],
      dtype='object')

In [4]:
# Checking the number of mice.
pharma_data_complete_df["Mouse ID"].count()

1893

In [15]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
pharma_data_complete_df[pharma_data_complete_df.duplicated(["Mouse ID"], keep=False)]
pharma_data_complete_df[["Mouse ID", "Timepoint"]]

     Mouse ID  Timepoint
0        k403          0
1        k403          5
2        k403         10
3        k403         15
4        k403         20
...       ...        ...
1888     z969         25
1889     z969         30
1890     z969         35
1891     z969         40
1892     z969         45

[1893 rows x 2 columns]

In [16]:
# Optional: Get all the data for the duplicate mouse ID. 
pharma_data_complete_df[pharma_data_complete_df.duplicated(["Mouse ID"], keep=False)]
pharma_data_complete_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [25]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
unduplicated_mouse_pharma_df = pharma_data_complete_df.drop_duplicates(["Mouse ID"], keep="last")
unduplicated_mouse_pharma_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1
...,...,...,...,...,...,...,...,...
1859,z314,Stelasyn,Female,21,28,5,45.934712,0
1862,z435,Propriva,Female,12,26,10,48.710661,0
1872,z581,Infubinol,Female,24,25,45,62.754451,3
1882,z795,Naftisol,Female,13,29,45,65.741070,3
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [26]:
# Checking the number of mice in the clean DataFrame.
unduplicated_mouse_pharma_df["Mouse ID"].count()

249

## Summary Statistics

In [55]:
#For the first DataFrame, use the groupby method to generate the mean, median, variance, standard deviation, 
#and SEM of the tumor volume for each drug regimen. This should result in five unique Series objects. 
#Combine these objects into a single summary statistics DataFrame.

summary_df = pd.DataFrame({
    "Mean Tumor Volume": unduplicated_mouse_pharma_df.groupby("Drug Regimen").mean()["Tumor Volume (mm3)"],
    "Median Tumor Volume": unduplicated_mouse_pharma_df.groupby("Drug Regimen").median()["Tumor Volume (mm3)"],
    "Tumor Volume Variance": unduplicated_mouse_pharma_df.groupby("Drug Regimen").var()["Tumor Volume (mm3)"],
    "Tumor Volume Standard Deviation": unduplicated_mouse_pharma_df.groupby("Drug Regimen").std()["Tumor Volume (mm3)"],
    "Tumor Volume SEM": unduplicated_mouse_pharma_df.groupby("Drug Regimen").sem()["Tumor Volume (mm3)"]
})

#print dataframe
summary_df


########__________GRAVEYARD Of ABANDONED CODE______________######


#REMINDER
# This-----> "unduplicated_mouse_pharma_df.groupby("Drug Regimen").mean()" <------ creates a groupby object
# This-----> "unduplicated_mouse_pharma_df.groupby("Drug Regimen").mean()["Tumor Volume (mm3)"] <------ selects a column from the groupby object

#.copy makes the new dataframe from the OG

#thank goodness for Erin

#numfocus - check it out! Check out pydata for meetup and post res meetup

#do some online courses for sql etc - specialty building

#pd.DataFrame.from_dict(summary_df)

#summary_df["Mean Metastatic Sites"] = unduplicated_mouse_pharma_df.groupby("Drug Regimen").mean()["Metastatic Sites"]

# summary_df = pd.DataFrame()

# summary_df["Mean Tumor Volume"] = unduplicated_mouse_pharma_df.groupby("Drug Regimen").mean(),
# summary_df["Median Tumor Volume"] = unduplicated_mouse_pharma_df.groupby("Drug Regimen").median(),
# summary_df["Tumor Volume Variance"] = unduplicated_mouse_pharma_df.groupby("Drug Regimen").var(),
# summary_df["Tumor Volume Standard Deviation"] = unduplicated_mouse_pharma_df.groupby("Drug Regimen").std(),
# summary_df["Tumor Volume SEM"] = unduplicated_mouse_pharma_df.groupby("Drug Regimen").sem()

# summary_df

,Mean Tumor Volume,Median Tumor Volume,Tumor Volume Variance,Tumor Volume Standard Deviation,Tumor Volume SEM
Drug Regimen,,,,,
Capomulin,36.667568,38.125164,32.663378,5.715188,1.143038
Ceftamin,57.753977,59.851956,69.982735,8.365568,1.673114
Infubinol,58.178246,60.165180,74.010875,8.602957,1.720591
Ketapril,62.806191,64.487812,98.921330,9.945920,1.989184
Naftisol,61.205757,63.283288,106.029927,10.297083,2.059417
Placebo,60.508414,62.030594,78.759797,8.874672,1.774934
Propriva,56.736964,55.841410,69.349002,8.327605,1.665521
Ramicane,36.191390,36.561652,32.166354,5.671539,1.134308
Stelasyn,61.001707,62.192350,90.331586,9.504293,1.940056
Zoniferol,59.181258,61.840058,76.862027,8.767099,1.753420

In [66]:
#For the second DataFrame, use the agg method to produce the same summary statistics table by using a single line of code. (Erin helped!)
better_summary_df = unduplicated_mouse_pharma_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].agg(['mean', 'median', 'var', 'std', 'sem'])

#print dataframe and sort 
better_summary_df.sort_values(by=['mean'], ascending=False)

                   mean     median         var        std       sem
Drug Regimen
Ketapril      62.806191  64.487812   98.921330   9.945920  1.989184
Naftisol      61.205757  63.283288  106.029927  10.297083  2.059417
Stelasyn      61.001707  62.192350   90.331586   9.504293  1.940056
Placebo       60.508414  62.030594   78.759797   8.874672  1.774934
Zoniferol     59.181258  61.840058   76.862027   8.767099  1.753420
Infubinol     58.178246  60.165180   74.010875   8.602957  1.720591
Ceftamin      57.753977  59.851956   69.982735   8.365568  1.673114
Propriva      56.736964  55.841410   69.349002   8.327605  1.665521
Capomulin     36.667568  38.125164   32.663378   5.715188  1.143038
Ramicane      36.191390  36.561652   32.166354   5.671539  1.134308

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

#plt.bar

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen